body {
  margin: 0 auto;
  background-image: url("background1.jpg");
  background-position: center;
  background-size: cover;
  font-family: "Helvetica", "Arial", sans-serif;
  color: white;
}

p {
  text-align: center;
  color: white;
}

iframe {
  margin: 10;
  padding: 1;
  height: 165px;
  width: 450px;
  scrolling: no;
  margin-top: 20px;
margin-bottom: 30px;
-moz-border-radius: 12px;
-webkit-border-radius: 12px;
border-radius: 12px;
-moz-box-shadow: 4px 4px 14px #000;
-webkit-box-shadow: 4px 4px 14px #000;
box-shadow: 4px 4px 14px #000;
-moz-transform:rotate(-20deg);
-webkit-transform:rotate(-20deg);
-o-transform:rotate(-20deg);
-ms-transform:rotate(-20deg);
filter:progid:DXImageTransform.Microsoft.BasicImage(rotation=.2);
}
