body {
  background-image: url("http://hdqwalls.com/wallpapers/saentis-mountains-clouds-view-from-top-4k-6o.jpg");
  margin: 0 auto;
  max-width: 50em;
  font-family: "Helvetica", "Arial", sans-serif;
}

p {
  text-align: center;
  color: red;
}
