body {
  margin: 0 auto;
  background-image: url("background1.jpg");
  background-position: center;
  background-size: cover;
  font-family: "Helvetica", "Arial", sans-serif;
  color: white;
}

p {
  text-align: center;
  color: white;
}

iframe {
  margin: 10;
  padding: 1;
  height: 180px;
  width: 469px;
  scrolling: no;
}
